@model List<Manga>
@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-5 pb-3 text-center container bg-dark">
    <div class="row">
        <div class="col mx-auto">
            <div id="logo">
                <img src="~/img/pngwing.com.png">
            </div>
            <div>
                <a href="kimetsu.html"><button class="menu">Kimetsu no Yaiba</button></a>
                <a href="personagens.html"><button class="menu">Personagens</button></a>
                <a href="mangas.html"><button class="menu">Manga</button></a>
                <button class="menu">Poderes</button>
                <button class="menu">Login</button>
                <button class="menu btn text-white">Cadastre-se</button>
            </div>
            <h1 class="text-white">Mangás</h1>
        </div>
</section>

<div class="album py-5 bg-dark">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            @foreach (var mangas in Model)
            {
                <!-- Card Manga - Inicio -->
                <div class="col">
                    <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(001)">
                        <img src="@mangas.imagem" class="card-img-top" width="100%" height="400" alt="@mangas.titulo" />
                        <div class="card-body">
                            <p class="card-text mb-0">@mangas.volume.ToString("00")</p>
                            <h3 class="card-title">@mangas.titulo</h3>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Manga - Fim -->
            }
        </div>
    </div>
</div>
